/* style.css for all examples */


/* align the canvas whithin the canvasContainer div to be in center of the display */
#canvasContainer {
  text-align: center;

}
#canvas {
  margin: 0;
  display: inline-block;
} 

/* set the main body text font to be sans-serif */
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}