/* align the canvas whithin the canvasContainer div to be in center of the display */
#canvasContainer {
  text-align: center;

}
#canvas {
  margin: 0;
  display: inline-block;
} 

/* place the select dropdown on top of the canvas */
/* #signal-select {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
} */

/* set the main body text font to be sans-serif */
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

/* make canvas dropdowns inline elements */
#canvas-select {
  display: inline-block;
  /* center the dropdowns */
  margin: 0 auto;
  
}